<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a news article with Natural Language Processing</title>

    </head>

    <body>

        <header>
            <h1>Evaluate a news article with Natural Language Processing</h1>
        </header>

        <main>
            <section>
                <form>
                    <input id="url" type="text" name="input" value="" placeholder="URL here...">
                    <button id="submit">submit</button>
                </form>
            <section>
            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <label for="polariry">Polarity</label>
                    <div id="polarity"></div>
                    <label for="subjectivity">Subjectivity</label>
                    <div id="subjectivity"></div>
                    <label for="text">Text</label>
                    <div id="text"></div>
                    <label for="polarity_confidence">Polarity Confidence</label>
                    <div id="polarity_confidence"></div>
                    <label for="subjectivity_confidence">Subjectivity Confidence</label>
                    <div id="subjectivity_confidence"></div>
                </div>
            </section>
        </main>

        <footer>
            Evaluate news article
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>
