$base-color: #22b2da;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 2;
        
        section {
            max-width: 800px;
            margin: 50px auto;
            strong {
                font-size: 24px;
                color: $base-color;
                text-decoration: underline;
            }

            #results {
                label {
                    display: block;
                    margin-top: 50px;
                    margin-bottom: 20px;
                    font-size: 20px;
                    color: $base-color;
                }
            }
        }
    }
}
